<div class="depot-form">

  <div class="step_target_bar">
    ステップ1<br />
    注文者等情報入力
  </div>
  <div class="step_bar">
    ステップ2<br />
    注文者等情報確定
  </div>
  <br /><br /><br /><br /><br /><br />
  
  <%= error_messages_for 'order' %>
  
  <%= form_for :order, :url => { :action => :confirm }, :html => { :class => "niceform"} do |form| %>
  <fieldset>
    <legend>注文者情報</legend>
    <dl>
      <dt><span class="asterisk">*</span>&nbsp;<%= form.label :name, "お名前:" %></dt>
      <dd><%= form.text_field :name, :size => 40 %></dd>
    </dl>
    <dl>
      <dt><span class="asterisk">*</span>&nbsp;<%= form.label :name_kana, "お名前(カナ):" %></dt>
      <dd><%= form.text_field :name_kana, :size => 40 %></dd>
    </dl>
    <dl>
      <dt><span class="asterisk">*</span>&nbsp;<%= form.label :zip, "郵便番号:" %></dt>
      <dd><%= form.text_field :zip, :size => 8, :onkeyup => "AjaxZip3.zip2addr(this,'','order[address]','order[address]');" %></dd>
    </dl>
    <dl>
      <dt><span class="asterisk">*</span>&nbsp;<%= form.label :address, "ご住所:" %></dt>
      <dd><%= form.text_area :address, :rows => 4, :cols => 60, :value => "郵便番号を入力すると番地情報を除いて住所が自動で入力されます" %></dd>
    </dl>
    <dl>
      <dt><span class="asterisk">*</span>&nbsp;<%= form.label :email, "Eメール:" %></dt>
      <dd><%= form.text_field :email, :size => 40 %></dd>
    </dl>
    <dl>
      <dt><span class="asterisk">*</span>&nbsp;<%= form.label :email_confirmation, "Eメール(確認用):" %></dt>
      <dd><%= form.text_field :email_confirmation, :size => 40 %></dd>
    </dl>
    <dl>
      <dt><span class="asterisk">*</span>&nbsp;<%= form.label :tel, "電話番号:" %></dt>
      <dd><%= form.text_field :tel, :size => 10 %></dd>
    </dl>
    <dl>
      <dt><span class="asterisk">*</span>&nbsp;<%= form.label :pay_type, "お支払い:" %></dt>
      <dd>
        <%= form.select :pay_type, Order::PAYMENT_TYPES, {:prompt => "お支払い方法を選択してください"} ,{:size => 1} %>
      </dd>
    </dl>
  </fieldset>
  
  <fieldset>
    <!-- お届け先情報 -->
    <legend>お届け先情報&nbsp;&nbsp;(※注文者の住所と異なる場合に記入)</legend>
    <dl>
      <dt><%= form.label :send_name, "お名前:" %></dt>
      <dd><%= form.text_field :send_name, :size => 40 %></dd>
    </dl>
    <dl>
      <dt><%= form.label :send_name_kana, "お名前(カナ):" %></dt>
      <dd><%= form.text_field :send_name_kana, :size => 40 %></dd>
    </dl>
    <dl>
      <dt><%= form.label :send_zip, "郵便番号:" %></dt>
      <dd><%= form.text_field :send_zip, :size => 8 %></dd>
    </dl>
    <dl>
      <dt><%= form.label :send_address, "ご住所:" %></dt>
      <dd><%= form.text_area :send_address, :rows => 4, :cols => 60, :value => "郵便番号を入力すると番地情報を除いて住所が自動で入力されます" %></dd>
    </dl>
    <dl>
      <dt><%= form.label :send_tel, "電話番号:" %></dt>
      <dd><%= form.text_field :send_tel, :size => 10 %></dd>
    </dl>
  </fieldset>

  <!-- ラベル情報等、その他 -->
  <fieldset>
    <legend>その他</legend>
    <dl>
      <dt><span class="asterisk">*</span>&nbsp;<%= form.label :is_adult, "成人である:" %></dt>
      <dd><%= form.check_box :is_adult %></dd>
    </dl>
    <dl>
      <dt><span class="asterisk">*</span>&nbsp;<%= form.label :delivery_date, "配達日:" %></dt>
      <dd>
        <%= form.select :year, Order::YEAR, {:include_blank => true}, {:size => 1} %>&nbsp;年
        <%= form.select :month, Order::MONTH, {:include_blank => true}, {:size => 1} %>&nbsp;月
        <%= form.select :day, Order::DAY, {:include_blank => true}, {:size => 1} %>&nbsp;日
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= form.text_field :delivery_date, {:style => "display:none;", :id => "datepicker0", :name => "datepicker3"} %>
      </dd>
    </dl>
    <dl>
      <dt><span class="asterisk">*</span>&nbsp;<%= form.label :time_zone, "配達の時間帯:" %></dt>
      <dd>
        <%= form.select :time_zone, Order::TIME_ZONE, {:include_blank => false }, {:size => 4} %>
      </dd>
    </dl>
    <dl>
      <dt><%= form.label :remark, "備考:" %></dt>
      <dd><%= form.text_area :remark, :rows => 4, :cols => 60, :value => "ラベル情報等必要事項があれば記載して下さい", :prompt => "Common.toBlank(this);" %></dd>
    </dl>
  </fieldset>

  <!-- サブミットボタン -->
  <fieldset class="action">
    <%= submit_tag "注文する", :class => "submit" %>
    <input name="reset" class="sbutton" value="リセット" type="reset" />
  </fieldset>
<% end %>
</div>
