<div class="depot-form">

  <div class="step_bar">
    ステップ1<br />
    注文者等情報入力
  </div>
  <div class="step_target_bar">
    ステップ2<br />
    注文者等情報確定
  </div>

  <br /><br /><br /><br /><br /><br />

  <fieldset>
    <legend>購入情報</legend>
    <table id="table-01">
      <tr>
        <th class="order_label">商品コード</th>
        <th class="order_label">名称</th>
        <th class="order_label">価格</th>
        <th class="order_label">数量</th>
        <th class="order_label">合価</th>
      </tr>
      <% @order.line_items.each do |item| %>
        <tr>
          <td class="order_label"><%= item.product.code %></td>
          <td class="order_label"><%= item.product.name %></td>
          <td class="order_label"><%= number_to_currency(item.product.price, :unit=>"円", :precision=>0, :format=>"%n%u") %></td>
          <td class="order_label"><%= item.quantity %></td>
          <td class="order_label"><%= number_to_currency(item.total_price, :unit=>"円", :precision=>0, :format=>"%n%u") %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan=3></td>
        <td class="order_label">合計</td>
        <td class="order_label"><%= number_to_currency(@order.total_price, :unit=>"円", :precision=>0, :format=>"%n%u") %></td>
      </tr>
    </table>
  </fieldset>
  <fieldset>
    <legend>注文者情報</legend>
    <dl>
      <dt class="order_label">お名前: </dt>
      <dd class="order_label"><%= @order.name %></dd>
    </dl>

    <dl>
      <dt class="order_label">お名前(カナ): </dt>
      <dd class="order_label"><%= @order.name_kana %></dd>
    </dl>

    <dl>
      <dt class="order_label">郵便番号: </dt>
      <dd class="order_label"><%= @order.zip %></dd>
    </dl>
    <dl>
      <dt class="order_label">ご住所: </dt>
      <dd class="order_label"><%= @order.address %></dd>
    </dl>
    <dl>
      <dt class="order_label">Eメール: </dt>
      <dd class="order_label"><%= @order.email %></dd>
    </dl>
    <dl>
      <dt class="order_label">電話番号: </dt>
      <dd class="order_label"><%= @order.tel %></dd>
    </dl>
    <dl>
      <dt class="order_label">お支払い方法: </dt>
      <dd class="order_label"><%= @order.pay_type_name %></dd>
    </dl>
  </fieldset>
  <br />

  <!-- お届け先情報 -->
  <fieldset>
    <legend>お届け先情報</legend>
    
    <% if ! @order.is_send %>
      <dl>
        <dt class="order_label">注文者情報と同じ</dt>
      </dl>
      
    <% else %>
    <dl>
      <dt class="order_label">お名前: </dt>
      <dd class="order_label"><%= @order.send_name %></dd>
    </dl>
    <dl>
      <dt class="order_label">お名前(カナ): </dt>
      <dd class="order_label"><%= @order.send_name_kana %></dd>
    </dl>
    <dl>
      <dt class="order_label">電話番号: </dt>
      <dd class="order_label"><%= @order.send_tel %></dd>
    </dl>
    <dl>
      <dt class="order_label">郵便番号: </dt>
      <dd class="order_label"><%= @order.send_zip %></dd>
    </dl>
    <dl>
      <dt class="order_label">ご住所: </dt>
      <dd class="order_label"><%= @order.send_address %></dd>
    </dl>
    <% end %>
  </fieldset>
  <br />
  
  <!-- ラベル情報等、その他 -->
  <fieldset>
    <legend>その他: </legend>
    <dl>
      <dt class="order_label">配達日: </dt>
      <dt class="order_label"><%= @order.year %>年<%= @order.month %>月<%= @order.day %>日</dt>
    </dl>
    <dl>
      <dt class="order_label">配達の時間滞: </dt>
      <dt class="order_label"><%= @order.time_zone_name %></dt>
    </dl>
    <dl>
      <dt class="order_label">備考: </dt>
      <dt class="order_label"><%= @order.remark %></dt>
    </dl>
  </fieldset>

<fieldset class="action">
  <%= button_to "確定", :action => 'save_order', :class=>"niceform" %>
</fieldset>
</div>
